<h2>Edit a Tweet</h2>
<form method="POST" action="/tweets/<%= @tweet.id %>" >
  <input type="hidden" name="_method" value="PUT" />
  <label>Status:
    <input type="text" name="tweet[status]" value="<%= @tweet.status %>" />
  </label><br />
  <label>User:
    <input type="text" name="tweet[user]" value="<%= @tweet.user %>" />
  </label><br />
  <input type="submit" value="Submit Edits!" />
</form>

<a href="/">Home</a>
