<h1>Quotes FTW</h1>

<% @quotes.each do |quote| %>
  <blockquote><p><%=quote[:quote]%></p>
    <footer>
      <cite><%=quote[:author]%></cite>
    </footer>
  </blockquote>
  <!-- TIL: http://html5doctor.com/cite-and-blockquote-reloaded/ -->
<% end %>

<h3>Search!</h3>
<p>Wish there was a search field...</p>

<h5>Cool Searches</h5>
<p>Wish there was a list of recommended searches...</p>

<h3>Authors!</h3>
<p>Wish there was a list of authors and links to their pages...</p>
